*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}
.container{
  max-width: 1440px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
.header-logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.logo{
  color: #000;
  font-family: 'Manrope', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-left: 35px;
}
.self-service{
  color: #000;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  width: 250px;

  /* underline-effect */
  &::after{
    display: block;
    content: "";
    width: 20px;
    height: 1.5px;
    background: #000;
    transition: 1s ease-in-out;
  }
  &:hover::after{
    width: 70px;
  }
}

.header-content{
  display: flex;
  justify-content: space-between;
}
.nav-link{
  display: flex;
  justify-content: space-between;
  writing-mode:vertical-rl;
  height: 340px;
  transform: scale(-1, -1);
}
.nav-link a{
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: block;
}
.main-content{
  margin: auto;
  display: flex;
}
.main-content h1{
  color: #000;
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  padding-right: 15px;
  border-right:  solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 6.6px; /*.15em*/
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 1s step-end infinite;
}
.switch-mode{
  display: flex;
  justify-content: space-between;
  writing-mode:vertical-rl;
  height: 340px;
  transform: scale(-1, -1);
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-content-underline a::after{
  display: block;
  content: "";
  background: #000;
  transition: 0.7s ease-in-out;
  width: 1.5px;
  height: 0%;
}
.nav-content-underline a:hover:after{
  height: 70%;
}
.nav-content-underline a:hover{
  transition: .4s;
  text-shadow: 0 0 .60px black;
}

.hr-line{
  display: block;
  height: 1px;
  width: 100%;
  background-color: #E7E7E7;
  margin: 120px 0px;
}

.card-container{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.first-card{
  background-color:#EEE;
  margin-top: 30px;
  width: 600px;
  height: 300px;
  margin-bottom: 120px;
}
.second-card{
  margin-left: 21px;
  background-color:#EEE;
  margin-top: 30px;
  width: 600px;
  height: 300px;
  margin-bottom: 80px;
}
@media (max-width: 961px) {
  .card-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
